body {
    background-color: lightgray
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#button{
    padding: 1em 1em 1em 1em;
    background-color: black;
    text-decoration: none;
    width: 20%;
}

#link {
    color:white;
    text-decoration: none;
}
